<ion-view class="page__about">
	<ion-nav-title>О приложении</ion-nav-title>
	<ion-content>
		<a ng-href="https://roscontrol.com/"><img class="logo" ng-src="img/logo.png"></a>
		<p>Нравится приложение Росконтроль?</p>
		<a ng-href="#" class="like__googleplay">Написать отзыв в Google Play</a>
		<ion-list class="categories-list">

		  <ion-item class="item-icon-right" ng-href="#">
		  	Сообщить о проблеме	
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item class="item-icon-right">

		  <ion-item class="item-icon-right" ng-click="windowOpen('https://roscontrol.com/page/about');">
		  	О проекте Росконтроль
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item class="item-icon-right">

		  <ion-item class="item-icon-right" ng-href="#">
		  	Условия использования
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item class="item-icon-right">

		</ion-list>
	</ion-content>

	<ion-footer-bar>
		<div class="page__about-foot">
			Версия 0.1 (db {{dbv.version}}, p {{pcount}}, c {{ccount}}) {{iW}} x {{iH}}<br>
			2013-2015 НП "Росконтроль"
		</div>
	</ion-footer-bar>

</ion-view>