<ion-view class="page__about">
	<ion-nav-title>О приложении</ion-nav-title>
	<ion-content>
		<a ng-href="https://roscontrol.com/"><img class="logo" ng-src="img/logo.png"></a>
		<p>Нравится приложение Росконтроль?</p>
		<a target="_blank" ng-href="https://play.google.com/store/apps/details?id=com.roscontrol.rk1" class="like__googleplay">Написать отзыв в Google Play</a>
		<ion-list class="categories-list">

		  <ion-item class="item-icon-right" target="_blank" ng-href="mailto:support@roscontrol.com?subject=Android: сообщить о проблеме">
		  	Сообщить о проблеме	
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item>

		  <ion-item class="item-icon-right" href="#" ng-click="windowOpen('https://roscontrol.com/page/about');">
		  	О проекте Росконтроль
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item>
		  <ion-item class="item-icon-right" ng-href="#" ng-click="windowOpen('https://roscontrol.com/page/agreement/');">
		  	Условия использования
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item>

		</ion-list>
	</ion-content>

	<ion-footer-bar>
		<div class="page__about-foot">
			Версия {{ ::appVersion }} (db {{dbv.version}}, p {{pcount}}, c {{ccount}}) {{iW}} x {{iH}}<br>
			2013-{{::now|date:'yyyy'}} НП "Росконтроль"
		</div>
	</ion-footer-bar>

</ion-view>