<ion-view>
	<ion-nav-title>Журнал покупателя</ion-nav-title>

	<ion-content>
	    <ion-list class="articles__wrap">
	      	<ion-item class="articles__category-item" ng-repeat="article in articles" href="#/app/article/{{article.id}}">
	      		<img class="articles__category-img" ng-src="{{ article.image }}">
		      	<ion-item class="articles__category-title">
		        	{{ article.title }}
		        </ion-item>
	      </ion-item>
	    </ion-list>
	    <ion-infinite-scroll
	    	ng-if="!error && (!total_count || count_articles < total_count)"
	    	icon="ion-loading-c"
	    	on-infinite="loadMore()"
	    	distance="1%">
	    </ion-infinite-scroll>

		<ion-spinner class="loader" ng-hide="hide_loader"></ion-spinner>
		{{ error }}
  	</ion-content>
</ion-view>
