<ion-view>
	<ion-nav-title>{{ article.title }}</ion-nav-title>
	<ion-content overflow-scroll="true" class="article__single">
	<link rel="stylesheet" type="text/css" href="http://api.roscontrol.com/compiled/css/mobile_article.css?version=10">
	<link href="css/article.css" rel="stylesheet">
		<h2>{{ article.title }}</h2>
		<span class="rubric">{{ rubrics[article.rubric].name }}</span>
		<div class="html-content" ng-bind-html="article.html"></div>
		<ion-spinner class="loader" ng-hide="hide_loader"></ion-spinner>
		{{ error }}
	</ion-content>
	<ion-footer-bar class="bar-assertive article__add-comment footer__sorting">
		<div class="footer__sorting-item">
	    <button ng-click="modalCommentUserCheck();" class="button">Добавить комментарий</button>
	  </div>
	</ion-footer-bar>
</ion-view>
