<ion-view>
	<ion-nav-title>Журнал покупателя</ion-nav-title>

	<ion-content class="page__articles" overflow-scroll="true">
	    <ion-list class="articles__wrap">
	      	<ion-item class="articles__category-item" ng-repeat="article in articles" ng-href="#/app/article/{{article.id}}">
	      		<img class="articles__category-img" ng-src="{{ article.image }}">
		      	<ion-item class="articles__category-title">
		        	{{ article.title }}
		        	<span class="rubric">{{ rubrics[article.rubric].name }}</span>
		        </ion-item>
	      </ion-item>
	    </ion-list>
	    <ion-infinite-scroll
	    	ng-if="!error && (!total_count || count_articles < total_count)"
	    	icon="ion-loading-c"
	    	on-infinite="loadMore()"
	    	distance="{{distance_procent}}">
	    </ion-infinite-scroll>

		<ion-spinner class="loader" ng-hide="hide_loader"></ion-spinner>
		{{ error }}
  	</ion-content>

  	<ion-footer-bar class="bar-assertive footer__sorting">
			<div class="footer__sorting-item">
		    <button ng-click="modalSortingCategory.show();" class="button">Категория</button>
		  </div>
		  <div class="footer__sorting-item">
		    <button ng-click="modalSortingRubric.show();" class="button">Рубрика</button>
		  </div
		</ion-footer-bar>

</ion-view>
