<ion-view>
	<ion-nav-title>{{ article.title }}</ion-nav-title>
	<ion-content overflow-scroll="true" ng-controller='funcController' class="article__single-wrap has-footer">
    <div class="article__single">
        <h2>{{ article.title }}</h2>
        <span class="rubric">{{ rubrics[article.rubric].name }}</span>
        <div class="html-content" ng-bind-html="article.html"></div>
        <ion-spinner class="loader" ng-hide="hide_loader"></ion-spinner>
        {{ error }}
    </div>
    <div ng-if="article.html" class="comment__wrapper-head comment__type-article">
      <div ng-if="comments.length">
        Пользователи написали
        {{ comments.length }}
        {{ declension(comments.length, ['комментарий','комментария','комментариев']); }}
         <i class="icon ion-android-arrow-down"></i>
      </div>
      <div ng-if="!comments.length">
        Пока нет комментариев, будьте первым!
      </div>
    </div>

    <div class="comment-block">
      <div ng-repeat="comment in comments.list" class="comment__item comment__type-article">
        <div class="comment__item-head">
          <div class="product__single-rev-left">
            <div class="comment__item-avatar">
              <span ng-if="!comment.user.avatar">Нет фото</span>
              <img ng-if="comment.user.avatar" ng-src="{{ comment.user.avatar }}">
            </div>
            <div class="comment__item-in">
              <p class="comment__item-name">{{ comment.user.name }}</p>
              <span class="comment__item-parent" ng-if="comment.parent">
                Пользователю {{ comment.parent.user_name }}
              </span>
            </div>
          </div>
        </div>
        <div class="comment__item-content">
          <p>{{ comment.text }}</p>
        </div>
        <div class="comment__item-foot">
          <p class="comment__item-date">{{ comment.created  | date:'dd-MM-yyyy' }}</p>
          <a class="comment__item-reply" href="javascript:void(0)" ng-click="modalCommentUserCheck(comment.id);" >Ответить</a>
        </div>
      </div>
    </div>

  <link href="css/article.css" rel="stylesheet">
  </ion-content>
	<ion-footer-bar ng-if="article.html" class="bar-assertive article__add-comment footer__sorting">
		<div class="footer__sorting-item">
	    <button ng-click="modalCommentUserCheck();" class="button">Добавить комментарий</button>
	  </div>
	</ion-footer-bar>
</ion-view>