<ion-view class="util-align-center">
	<ion-nav-title>Результат сканирования</ion-nav-title>
	<ion-content>
		<div class="not-found-text">
				<div class="not-found-barcode__code">{{ code }}</div>
				<img class="not-found-barcode__img" ng-src="img/barcode.jpg" alt="">
				<div class="not-found-barcode__text">К сожалению, товар с таким штрих кодом отсутствует в базе данных.</div>
				<button ng-click="goScanningBarcode()" class="button button-block button-default-style button-positive">Попробовать найти другой товар</button>
		</div>
	</ion-content>
</ion-view>


