<ion-view>
	<ion-nav-title> {{ title }} </ion-nav-title>
	<ion-content>
	  <ion-list>
		  <ion-item ng-if="categories" ng-repeat="category in categories" href="#/app/category/{{ category.id }}">
		  	{{ category.name }}
		  	<span class="badge badge-assertive">{{ category.product_count }}</span>
		  </ion-item>
		  <ion-item ng-else-if="products" ng-repeat="product in products" class="product__category" href="#/app/product/{{ product.id }}">
		  	<img class="product__category-thumbnail" src="{{ product.thumbnail }}" alt="{{ product.name }}">
		  	<span class="product__category-name">{{ product.name }}</span>
		  	<span class="product__category-rating product-rating">{{ product.rating }}</span>
		  </ion-item>
		  <div>
		  	{{ noInformation }}
		  </div>
		</ion-list>
	</ion-content>
</ion-view>

