<ion-view>
	<ion-nav-title> {{ title }} </ion-nav-title>
	<ion-content ng-controller='funcController'>

	<!-- categories list -->
	<div ng-if="categories"> 
	  <ion-list ng-if="categories">
		  <ion-item ng-repeat="category in categories" href="#/app/category/{{ category.id }}">
		  	{{ category.name }}
		  	<span class="badge badge-assertive">{{ category.product_count }}</span>
		  </ion-item>
		</ion-list>
	</div> 
	<!-- END categories list -->

	<!-- products list -->
  <div ng-else-if="products">

		<ul class="product__category-tabs-wrap">
	    <li class="product__category-tabs" ng-repeat="t in tabsCatProductType" ng-click="tabsCategory($index)">
	      <span ng-class="tabsClass(t)">
	      	{{t.title}}
	      </span>
	    </li>
  	</ul>

		<ion-list>
			<div ng-if="tabsCatProductType[0].active">
				<ion-item ng-if="productsPositive.length === 0">В этой категории пока нет проверянных товаров!</ion-item>
				<ion-item ng-repeat="product in productsPositive | orderBy:'-rating'" class="product__category" href="#/app/product/{{ product.id }}">
				  	<span class="product__category-thumbnail">
				  		<img src="{{ product.thumbnail }}" alt="{{ product.name }}">
				  		<span class="img-loader"></span>
				  	</span>
				  	<span class="product__category-name">{{ product.name }}</span>
				  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
				  		{{ product.ratingv }}
				  	</span>
				</ion-item>
			</div>

			<div ng-if="tabsCatProductType[1].active">
				<ion-item ng-if="productsWait === 0">Нет товаров в статусе "Ожидают проверки"!</ion-item>
				<ion-item ng-repeat="product in productsWait | orderBy:'-rating'" class="product__category" href="#/app/product/{{ product.id }}">
				  	<span class="product__category-thumbnail">
				  		<img src="{{ product.thumbnail }}" alt="{{ product.name }}">
				  		<span class="img-loader"></span>
				  	</span>
				  	<span class="product__category-name">{{ product.name }}</span>
				  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
				  		{{ product.ratingv }}
				  	</span>
				</ion-item>
			</div>

			<div ng-if="tabsCatProductType[2].active">
			<ion-item ng-if="productsBlack.length === 0">Ни один товар в категории не попал в черный список!</ion-item>
			<ion-item ng-repeat="product in productsBlack | orderBy:'-rating'" class="product__category" href="#/app/product/{{ product.id }}">
			  	<span class="product__category-thumbnail">
			  		<img src="{{ product.thumbnail }}" alt="{{ product.name }}">
			  		<span class="img-loader"></span>
			  	</span>
			  	<span class="product__category-name">{{ product.name }}</span>
			  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
			  		{{ product.ratingv }}
			  	</span>
			</ion-item>
			</div>

		  <div>
		  	{{ noProducts }}
		  </div>
		</ion-list>

	</div>
	<!-- END products list -->
		
	</ion-content>
</ion-view>

