<ion-view>
	<ion-nav-title> {{ title }} </ion-nav-title>
	<ion-content ng-controller='funcController'>

	<!-- categories list -->
	<div ng-if="categories"> 
	  <ion-list ng-if="categories" class="categories-list">
		  <ion-item class="item-icon-right" ng-repeat="category in categories" href="#/app/category/{{ category.id }}">
		  	{{ category.name }}
		  	<i class="icon ion-chevron-right"></i>
		  </ion-item>
		</ion-list>
	</div> 
	<!-- END categories list -->

	<!-- products list -->
  <div ng-elseif="products">
		<ul ng-if="products" class="product__category-tabs-wrap">
	    <li class="product__category-tabs" ng-repeat="t in tabsCatProductType" ng-click="tabsCategory($index)">
	      <span ng-class="tabsClass(t)">
	      	{{t.title}}
	      </span>
	    </li>
  	</ul>

		<ion-list>

			<div ng-if="tabsCatProductType[0].active">
				<ion-item ng-if="productsPositive.length === 0">В этой категории пока нет проверянных товаров!</ion-item>
				<ion-item ng-repeat="product in productsPositive | orderBy:'-rating'" class="product__category" href="#/app/product/{{ product.id }}">
				  	<span class="product__category-thumbnail">
				  		<img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}">
				  		<span class="img-loader"></span>
				  	</span>
				  	<span class="product__category-name">{{ product.name }}</span>
				  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
				  		{{ product.ratingv }}
				  	</span>
				</ion-item>
			</div>

			<div ng-if="tabsCatProductType[1].active">
				<ion-item ng-if="productsWait.length === 0">Нет товаров в статусе "Ожидают проверки"!</ion-item>
				<ion-item ng-repeat="product in productsWait | orderBy:'-rating'" class="product__category" href="#/app/product/{{ product.id }}">
				  	<span class="product__category-thumbnail">
				  		<img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}">
				  		<span class="img-loader"></span>
				  	</span>
				  	<span class="product__category-name">{{ product.name }}</span>
				  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
				  		{{ product.ratingv }}
				  	</span>
				</ion-item>
			</div>

			<div ng-if="tabsCatProductType[2].active">
				<ion-item ng-if="productsBlack.length === 0">Ни один товар в категории не попал в черный список!</ion-item>
				<ion-item ng-repeat="product in productsBlack | orderBy:'-rating'" class="product__category" href="#/app/product/{{ product.id }}">
				  	<span class="product__category-thumbnail">
				  		<img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}">
				  		<span class="img-loader"></span>
				  	</span>
				  	<span class="product__category-name">{{ product.name }}</span>
				  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
				  		{{ product.ratingv }}
				  	</span>
				</ion-item>
			</div>

		  <div ng-if="noProducts">
		  	<span class="product__empty">Товары в эту категорию еще не были добавлены..</span>
		  </div>

		</ion-list>

	</div>
	<!-- END products list -->
		
	</ion-content>
</ion-view>

