<ion-view>
<ion-nav-title> {{ title }}</ion-nav-title>
  <ion-content overflow-scroll="true">
    <div ng-hide="percent == 100">
    <h1 style="text-align: center;margin-bottom: 0;" >{{ inf }} {{ percent }} %</h1>
  <progress max="100" value="{{ percent }}"> </progress>
  </div>
    <ion-list class="main__category-wrap" ng-controller='funcController'>
      <ion-item class="main__category-item" ng-repeat="item in roots" ng-href="#/app/category/{{item.id}}">
          <img ng-if="network" ng-src="http://api.roscontrol.com/assets/icons/ios2x/{{ item.background }}">
          <img ng-src="img/main/bg-{{ item.position }}.png">
          <ion-item class="main__category-icon">
            <img ng-if="network" ng-src="http://api.roscontrol.com/assets/icons/ios2x/{{ item.icon }}">
            <img ng-if="!network" ng-src="img/main/icon-{{ item.position }}.png">
          </ion-item>
          <ion-item class="main__category-name">
            {{ item.name }}
          </ion-item>
          <ion-item class="main__category-tested"> 
            {{ item.product_tested_count.count }} 
            {{ declension(item.product_tested_count.count, ['тест','теста','тестов']); }}
          </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>