<ion-view >
<ion-nav-title> {{ title }} </ion-nav-title>
  <ion-content>
    <div ng-hide="percent == 100">
  	<h1 style="text-align: center;margin-bottom: 0;" >{{ inf }} {{ percent }} %</h1>
	<progress max="100" value="{{ percent }}"> </progress>
	</div>
    <ion-list class="main__category-wrap">
      <ion-item class="main__category-item" ng-repeat="item in roots | orderBy:'position'" href="#/app/category/{{item.id}}" ng-style="{'background': 'url(http://api.roscontrol.com/assets/icons/ios2x/' + item.background + ')'}">
      		<ion-item class="main__category-icon" ng-style="{'background': 'url(http://api.roscontrol.com/assets/icons/ios2x/' + item.icon + ')'}">
	      	</ion-item>
	      	<ion-item class="main__category-name">
	        	{{ item.name }}
	        </ion-item>
	      	<ion-item class="main__category-tested" ng-controller='funcController'>
	      		{{ item.product_tested_count.count }} 
	      		{{ declension(item.product_tested_count.count, ['товар','товара','товаров']); }}
	      	</ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>