<ion-side-menus ng-controller="MenuCtrl" enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" width="menuWidth">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Навигация</h1>
    </ion-header-bar>
    <ion-content>
    	<a href="#" ng-click="login()">
    		<span>Авторизоваться</span>
    	</a>
    		<a href="#" ng-click="logout()">
    		<span>Выйти</span>
    	</a>
      <ion-list>
        <ion-item nav-clear menu-close href="/#/app/main/">
          Рейтинг товаров
        </ion-item>
        <ion-item nav-clear menu-close href="#">
          Список покупок
        </ion-item>
        <ion-item nav-clear menu-close href="#">
          Журнал покупателя
        </ion-item>
        <ion-item nav-clear menu-close href="#">
          О приложении
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>