<ion-side-menus ng-controller="MenuCtrl" enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right" ng-click="shoppingListCountUpdate()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" width="menuWidth">

    <ion-content overflow-scroll="true" class="menu__content">
    	<a ng-if="!userProfile" class="menu__nologin-wrap" ng-href="#" ng-click="login()">
    		<span class="menu__avatar menu__nologin-avatar"></span>
    		<span class="menu__nologin-url">Авторизоваться</span>
    	</a>
    	<div ng-if="userProfile" class="menu__login-wrap">
    		<a ng-href="#" class="menu__login-wrap-link">
	    		<img ng-class="userProfile ? 'menu_avatar_user' : ''" class="menu__avatar menu__login-avatar" ng-src="{{ userProfile.avatar }}">
					<span class="menu__login-name">{{ userProfile.first_name }} {{ userProfile.last_name }}</span>
				</a>
    		<a ng-href="#" class="menu__logout" ng-click="logout()">
    			<span>Выйти</span>
    		</a>	
    	</div>
      <ion-list>
        <ion-item nav-clear menu-close ng-href="#/app/main/">
          <span class="menu__item-inner">
          	<i class="icon ion-ios-star-half"></i>
            <span class="menu__item-inner-text">Рейтинг товаров</span>
          </span>
        </ion-item>
        <ion-item nav-clear ng-href='{{ userProfile ? "#/app/user/shopping-list" : "#" }}' ng-click="closeMenu('recommended'); login();">
        	<span class="menu__item-inner">
           <i class="icon ion-bag"></i>
            <span class="menu__item-inner-text">Список покупок </span>
            <span ng-if="shoppingListCount > 0 && userProfile" class="list-count">{{ shoppingListCount }}</span> 
          </span>
        </ion-item>
        <ion-item nav-clear menu-close ng-href="#/app/article">
          <span class="menu__item-inner">
          	<i class="icon ion-ios-book"></i>
            <span class="menu__item-inner-text">Журнал покупателя</span>
          </span>
        </ion-item>
        <ion-item ng-if="userProfile" nav-clear menu-close ng-href="#/app/user/profile">
          <span class="menu__item-inner">
       		 <i class="icon ion-person"></i>
            <span class="menu__item-inner-text">Мой профиль</span>
          </span>
        </ion-item>
        <ion-item nav-clear menu-close ng-href="#/app/about">
          <span class="menu__item-inner">
          <i class="icon ion-information-circled"></i>
            <span class="menu__item-inner-text">О приложении</span>
          </span>  
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>