<ion-side-menus ng-controller="MenuCtrl" enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" width="menuWidth">

    <ion-content scroll="false" class="menu__content">
    	<a ng-if="!userProfile" class="menu__nologin-wrap" href="#" ng-click="login()">
    		<span class="menu__avatar menu__nologin-avatar"></span>
    		<span class="menu__nologin-url">Авторизоваться</span>
    	</a>
    	<div ng-if="userProfile" class="menu__login-wrap">
    		<a href="#" class="menu__login-wrap-link">
	    		<img class="menu__avatar menu__login-avatar" ng-src="{{ userProfile.avatar }}">
					<span class="menu__login-name">{{ userProfile.first_name }} {{ userProfile.last_name }}</span>
				</a>
    		<a href="#" class="menu__logout" ng-click="logout()">
    			<span>Выйти</span>
    		</a>	
    	</div>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/main/">
        	<i class="fa fa-trophy"></i>
          Рейтинг товаров
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/user/shopping-list">
        	<i class="fa fa-shopping-cart"></i>
          Список покупок
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/article">
        	<i class="fa fa-book"></i>
          Журнал покупателя
        </ion-item>
        <ion-item ng-if="userProfile" nav-clear menu-close href="#/app/user/profile">
       		<i class="fa fa-user"></i>
          Мой профиль
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about">
        <i class="fa fa-info-circle"></i>
          О приложении
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>