<ion-view>
	<ion-nav-title> {{ title  }} </ion-nav-title>
	<ion-content ng-controller='funcController'>
	  <div style="margin-top: 100px;" ng-if="product">
	  	<h2>{{ product.name }}</h2>
	  	<img width="200" height="200px" ng-src="{{ product.images }}">
	  	<span class="product-rating" ng-class="productRatingType(product)">
				{{ product.ratingv }}
			</span>
	  </div>

	  <ion-spinner icon="circles" ng-if="!reviews"></ion-spinner>
		<p ng-if="reviews.total_count == 0" >Отзывов пока нет, будьте первым!</p>
		<p ng-if="reviews.total_count != 0" >Всего отзывов: {{ reviews.total_count }}</p>
		<p ng-if="reviews.total_count != 0">Средняя оценка: {{ reviews.avg_mark }}</p>
		<ion-slide-box ng-if="reviews">            
      <ion-slide ng-repeat="review in reviews.items">
        <p><strong>Автор:</strong></p>
		    <p>{{ review.user.name }}</p>
		    <p><strong>Дата:</strong></p>
		    <p>{{ review.created_date }}</p>
		    <p><strong>Оценка:</strong></p>
		    <p>{{ review.mark }} из 5</p>
			  <p><strong>Достоинства: </strong></p>
			  <p>{{ review.advantages }}</p>
			  <p><strong>Недостатки: </strong></p>
			  <p>{{ review.disadvantages }}</p>
			  <p><strong>Комментарий: </strong></p>
			  <p>{{ review.text }}</p>
      </ion-slide>
   	</ion-slide-box>
		<button ng-click="prevSlide()"> < Туда</button>
	  <button ng-click="nextSlide()">Сюда ></button>
	</ion-content>
</ion-view>