<ion-view>
	<ion-nav-title> {{ title  }} </ion-nav-title>
	<ion-content overflow-scroll="true" ng-controller='funcController'>
		<div ng-if="product" class="product__single-wrap">
			<div class="product__single-head">
				<h2 class="product__single-name">{{ showCatName }} {{ product.company_name }} {{ product.name }}</h2>
				<div class="product__single-info">
					<div class="product__single-info-left">
						<span class="product__single-helper"></span>
						<img ng-click="modalProduct.show()" ng-src="{{ product.images_array[0] }}">
						<ion-spinner icon="circles" class="loader"></ion-spinner>
					</div>
					<div class="product__single-info-right">
						<a ng-href="#" ng-class="(product.shopping_list==true) ? 'active' : ''" ng-click="addShoppingList(product)" href="#"><i class="icon ion-bag"></i>{{ product.slug }}</a>
						<a ng-href="#" ng-class="(product.product_list==true) ? 'active' : ''" ng-click="updateProductList(product)"><i class="icon ion-android-favorite-outline"></i>{{ linkSlug }}</a>
					</div>
				</div>
			</div>
			<div ng-init="productType(product)">  	
		  		<div ng-include="productTemplate.url"></div>
		 </div>
		 <ion-spinner class="product__single-reviews-spinner" icon="circles" ng-if="!reviews"></ion-spinner>
		 <div class="product__single-reviews-wrap" ng-if="reviews">

		 		<div class="product__single-reviews-rating product__single-wblock">
		 			<p class="product__single-reviews-rating-title">Отзывы покупателей</p>
					<span class="product__single-review-type up">
						<i class="fontello-icon icon-thumbs-up"></i>
						<span>{{ objReviews.positive.procent }}%</span>
					</span>
					<span class="product__single-review-type down">
						<i class="fontello-icon icon-thumbs-down"></i>
						<span>{{ objReviews.negative.procent }}%</span>
					</span>
		 				<!--<span class="product__single-reviews-rating" ng-repeat="i in arrayRating track by $index" ng-class="i ? 'rating-full' : 'rating-empty'">
		 					<i class="icon ion-android-star"></i>
		 				</span>-->
		 				<span class="product__single-reviews-count">{{ reviews.total_count }} {{ declension(reviews.total_count, ['отзыв','отзыва','отзывов']); }} </span>
		 		</div>

			 <div ng-if="reviews && reviews.total_count > 0" class="product__single-reviews-slider-head">
				 <div class="product__single-slider-count">
					 Отзыв {{ currentIndex }} из {{ reviews.total_count }}
				 </div>
				 <div class="product__single-slider-nav">
					 <button ng-click="prevSlide()" ng-class="currentIndex == 1 ? 'button__disabled' : '' "><i class="icon ion-chevron-left"></i></button>
					 <button ng-click="nextSlide()" ng-class="currentIndex == reviews.total_count ? 'button__disabled' : '' "><i class="icon ion-chevron-right"></i></button>
				 </div>
			 </div>

		 		<div class="product__single-reviews-slider product__single-wblock">
				 	<ion-slide-box show-pager="false" ng-if="reviews" on-slide-changed="slideHasChanged($index)">            
			      <ion-slide ng-repeat="review in reviews.items">
				      <div class="product__single-reviews-slider-body">
				      	<div class="product__single-reviews-slider-top">
				      		<div class="product__single-rev-left">
										<div class="product__slider-avatar">
											<span ng-if="!review.user.avatar">Нет фото</span>
											<img ng-if="review.user.avatar" ng-src="{{ review.user.avatar }}">
										</div>
										<div class="product__slider-in">
											<p class="product__slider-name">{{ review.user.name }}</p>
											<p class="product__slider-create">{{ review.created_date  | date:'dd-MM-yyyy' }}</p>
										</div>
									</div>
				      		<div class="product__slider-rate">
										<span ng-show="review.mark >= 3" class="product__slider-rating-type">
											<div class="positive">
												<i class="fontello-icon icon-thumbs-up"></i>
												<span class="text">Рекомендация</span>
											</div>
										</span>
										<span ng-show="review.mark <= 2" class="product__slider-rating-type">
											<div class="negative">
												<i class="fontello-icon icon-thumbs-down"></i>
												<span class="text">Негативный отзыв</span>
											</div>
										</span>
				      		</div>
				      	</div>
				      	<div class="product__single-reviews-slider-bottom">
				      		<p>{{ review.text }}</p>
				      		<p>
				      			<strong>Достоинства: </strong>
							  		{{ review.advantages }}
							  	</p>
				      		<p>
				      			<strong>Недостатки: </strong>
							  		{{ review.disadvantages }}
							  	</p>
				      	</div>
							</div> 
			      </ion-slide>
		 		</div>
		 </div>
		 <div class="product__single-prop">
		 	<div class="product__single-prop-main">
		 		<div ng-repeat="m_prop in properties">
		 			<h4 class="product__single-prop-ititle">{{ m_prop.name }}</h4>
			 		<table class="product__single-prop-table">
			 			<tr ng-repeat="prop in m_prop.properties">
			 				<td class="product__single-prop-td-1">{{ prop.name }}</td>
			 				<td class="product__single-prop-td-2">{{ prop.value }}</td>
			 			</tr>
			 		</table>
		 		</div>
		 	</div>
		 </div>
	  </div>
	  <div class="overlay__load" ng-if="overlayload">
	  	<ion-spinner icon="lines"></ion-spinner>
	  </div>
	</ion-content>
	<ion-footer-bar ng-if="!overlayload" class="bar-assertive article__add-comment footer__sorting">
		<div class="footer__sorting-item">
	    <button ng-click="showReview(product);" class="button">Написать отзыв</button>
	  </div>
	</ion-footer-bar>
</ion-view>