<ion-view ng-controller='funcController'>
	<ion-nav-title>Список покупок</ion-nav-title>
	<ion-content>
	<!-- shopping list -->
	  Поиск: <input ng-model="query">
		<ion-list>

			<ion-item class="product__category" ng-repeat="product in recommendedList | filter:query | orderBy: '-rating'"  href="#/app/product/{{ product.id }}">
			  	<span class="product__category-thumbnail">
			  		<img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}">
			  		<ion-spinner icon="circles" class="loader"></ion-spinner>
			  	</span>
			  	<span class="product__category-name">{{ product.name }}</span>
			  	<span class="product__category-rating product-rating" ng-class="productRatingType(product)">
			  		{{ product.ratingv }}
			  	</span>
			</ion-item>

		</ion-list>
		
	</ion-content>

	<ion-footer-bar>
	  Для табов
	</ion-footer-bar>

</ion-view>

