<ion-view>
	<ion-nav-title>Редактирование</ion-nav-title>
	<ion-content class="profile__edit" overflow-scroll="true" ng-controller="funcController">
		<form ng-submit="doProfileEdit()">
      <div class="list">
      	<img class="user__profile-avatar" ng-src="{{ profile.avatar }}">
       	<label class="item item-input border-r-top">
          <input type="text" ng-model="profileEditData.first_name" placeholder="Имя" class="ng-pristine ng-valid ng-touched">
        </label>
        <label class="item item-input border-r-bottom">
          <input type="text" ng-model="profileEditData.last_name" placeholder="Фамилия" class="ng-pristine ng-untouched ng-valid">
        </label>
        <label class="item item-input border-r-bottom">
          <input type="text" ng-model="profileEditData.phone" placeholder="Телефон" class="ng-pristine ng-untouched ng-valid">
        </label>
        <label class="item item-input border-r-top disabled">
          <input type="text" value="{{ profileEditData.email }}" placeholder="Email" disabled="disabled" class="ng-pristine ng-untouched ng-valid ng-valid-email">
        </label>
        <button class="button button-edit button-block button-positive" type="submit">Сохранить</button>
      </div>
    </form>
	</ion-content>	
</ion-view>