<ion-view>
	<ion-nav-title>Мой профиль</ion-nav-title>
	<ion-content ng-controller="funcController">
		<div class="user__profile-head">
			<img class="user__profile-avatar" ng-src="{{ profile.avatar }}">
			<span class="user__profile-name">{{ profile.first_name }} {{ profile.last_name }}</span>
		</div>
		<div class="user__profile-center">
			<ion-list class="user__profile-list">
				<ion-item>
					<strong>Моя активность</strong>
				</ion-item>
				<ion-item>
					{{ profile.comment_count }} 
					{{ declension(profile.comment_count, ['комментарий','комментария','комментариев']); }}
				</ion-item>
				<ion-item>
					{{ profile.review_count }}
					{{ declension(profile.review_count, ['отзыв','отзыва','отзывов']); }}
				</ion-item>
				<ion-item>
					{{ profile.question_count }}
					{{ declension(profile.question_count, ['вопрос','вопроса','вопросов']); }}
				</ion-item>
			<ion-list>  
		</div>
		<div class="user__profile-foot">
			<ion-list class="user__profile-list-foot">
				<ion-item>
					<strong>Покупаю часто</strong>
					<span class="user__profile-list-foot-count">{{dproducts.items.length}}</span>
					<ion-list class="list-out">
						<ion-item class="user__profile-foot-inner-item" ng-repeat="product in dproducts.items" href="#/app/product/{{product.id}}">
							<img ng-src="{{product.thumbnail}}" />
						</ion-item>
					</ion-list>
				</ion-item>
				<ion-item>
					<strong>Пользуюсь</strong>
					<span class="user__profile-list-foot-count">{{products.items.length}}</span>
					<ion-list>
						<ion-item ng-repeat="product in products.items" href="#/app/product/{{product.id}}">
							<img ng-src="{{product.thumbnail}}" />
						</ion-item>
					</ion-list>
				</ion-item>
			<ion-list>  
		</div>
	</ion-content>
</ion-view>
