
.container-control-panel {
  background: #FFF;
  border-bottom: 1px solid $borderColor;
}

.container-control-panel-inner {
  width: 100%;
  display: flex;
}

.b-control-panel-item {
  height: 45px;
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0;
  border: 0;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: none;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  color: #222;
  border-left: 1px solid $borderColor;
  &:active,
  &:hover {
    color: $mainColor;
    transition: 0.3s
  }
  &:first-child {
    border-left: 0;
  }
}