
.swiper-container {
  padding-bottom: 20px;
}


.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: $grayColor;
  &.swiper-pagination-bullet-active {
    background: $mainColor;
  }
}
