
.swiper-container {
  padding-bottom: 20px;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 0;
  .swiper-pagination-bullet {
    margin: 0 4px;
  }
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: $grayColor;
  &.swiper-pagination-bullet-active {
    background: $mainColor;
  }
}
