page-article {
  background: #FFF;
  p {
    margin: 10px 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.45em;
  }

  .grid-row {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .l_gallery li {
    margin: 0 0 15px 0;
    a {
      width: 100%;
      height: 100%;
    }
  }


  // photos
  .photos {
    overflow: hidden;
    margin: 25px 0;
  }


  // data
  .p-data {
    margin-bottom: 20px;
  }


  /** Таблица */
  .container-table_with_list {
    overflow-x: auto;
  }

  /**/
  .photo-with-text_img-and-caption {
    float: none !important;
  }

  .photo-with-text .photo-with-text_text {
    width: 100% !important;
    margin: 20px 0 0 0 !important;
  }

  .photo-with-text .photo-with-text_img-and-caption {
    float: none !important;
  }

  .youtube-preview-container {
    display: none;
  }

  .b_reference.b_reference-right .b_reference-info {
    margin-bottom: 30px;
    width: 100%;
  }

  .product-rating a {
    text-decoration: none;
  }


  // + and -
  .b_danger-wrap {
    padding: 20px;
  }
  .b_danger-list {
    padding: 2px 0 0 0px;
    margin-left: -15px;
  }
  .b_danger-left {
    margin-bottom: 20px;
    border-right: 0;
    border-bottom: 1px solid $borderColor;
  }
  .b_danger-left,
  .b_danger-right {
    width: 100%;
    float: none;
  }


  // default list
  .p-data ul {
    margin-left: 0;
    padding-left: 22px;
    li {
      &:before {
        width: 8px;
        height: 8px;
        margin-top: -4px;
        position: absolute;
        left: -20px;
        border-radius: 100%;
        top: 50%;
      }
    }
  }

}





.b-article-header {
  margin: 0 0 5px 0;
  .article-header__title {
    font-size: 2rem;
  }
  .article-header__date {
    color: $grayColor;
  }
  .article-header__rubric {
    display: inline-block;
    margin: 10px 0 8px 0;
    padding: 3px 10px;
    color: #fff;
    background: $mainColor;
    font-size: 1.5rem;
    line-height: normal;
    border-radius: 3px;
  }
}


