<ion-header>
  <ion-navbar no-border-bottom>
    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="container-profile-top">
    <div class="container-profile-flex">
      <div class="container-profile-avatar">
        <img *ngIf="profile.avatar" [src]="profile.avatar">
      </div>
    </div>
  </div>

  <form (ngSubmit)="handlerSaveProfileData($event)">
    <div class="util-list-clear-padding">

      <ion-item>
        <ion-input [(ngModel)]="profile.first_name" name="firstName" placeholder="Имя" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="profile.last_name" name="lastName" placeholder="Фамилия" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="profile.email" name="email" placeholder="Email" type="email" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="profile.phone" name="phone" placeholder="Телефон" type="text"></ion-input>
      </ion-item>

    </div>

    <div class="util-align-center">
      <button class="util-button"  type="submit" ion-button>Сохранить</button>
    </div>

    <div *ngIf="messageError.length > 0" class="util-message-error">{{ messageError }}</div>
    <div *ngIf="messageSuccess.length > 0" class="util-message-success">{{ messageSuccess }}</div>

  </form>



</ion-content>