<ion-header>
  <ion-navbar no-border-bottom>
    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isAuth()">
    <div class="container-profile-top">
      <div class="container-profile-flex">
        <a class="b-profile-action" href="#" (click)="handlerClickEdit()">
          <ion-icon name="create"></ion-icon>
        </a>
        <div class="container-profile-avatar">
          <ion-spinner *ngIf="!profile.avatar"></ion-spinner>
          <img *ngIf="profile.avatar" [src]="profile.avatar">
        </div>
        <a class="b-profile-action" href="#" (click)="handlerClickLogout()">
          <ion-icon name="exit"></ion-icon>
        </a>
      </div>
    </div>
    <div class="container-profile-content">
      <div class="b-profile-title">
        Активность
      </div>
      <div class="container-profile-list">
        <div class="b-profile-item">
          <div class="profile-item-key">
            Комментарии
          </div>
          <div class="profile-item-value">
            {{ profile.comment_count }}
          </div>
        </div>
        <div class="b-profile-item">
          <div class="profile-item-key">
            Отзывы
          </div>
          <div class="profile-item-value">
            {{ profile.review_count }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>