<ion-header>

  <ion-navbar no-border-bottom>
    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-navbar>

  <div class="container-control-panel">
    <div class="container-control-panel-inner">
      <div class="b-control-panel-item" (click)="openMenu('category')">Категория</div>
      <div class="b-control-panel-item" (click)="openMenu('rubric')">Рубрика</div>
    </div>
  </div>

</ion-header>


<ion-content>

  <ion-list *ngIf="!articlesEmpty" class="grid-row" no-lines>
    <div class="container-section grid-flex">
      <div class="grid-padding grid-column-12 grid-left grid-flex" *ngFor="let article of articles">
        <article-item-component [rubrics]="rubricsSlugKey" [article]="article"></article-item-component>
      </div>
    </div>
  </ion-list>

  <div *ngIf="articlesEmpty" class="util-empty-box">Статьи не найдены</div>


  <ion-infinite-scroll *ngIf="articles.length > 0 && totalCount > articles.length" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Загружаю данные...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
