<ion-header>
  <ion-navbar no-border-bottom>
    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-navbar>

  <div class="container-control-panel">
    <div class="container-control-panel-inner">
      <div class="b-control-panel-item" (click)="openMenu('category')">Категория</div>
      <div class="b-control-panel-item" (click)="openMenu('rubric')">Рубрика</div>
    </div>
  </div>

</ion-header>


<ion-content>

  <ion-list *ngIf="!articlesEmpty" class="grid-row" no-lines>
    <div class="container-section grid-flex">
      <div class="grid-padding grid-column-12 grid-left grid-flex" *ngFor="let article of articles"
           (click)="handlerSelect(article.id)">
        <div>
          <img src="{{ article.image }}"/>
          <div class="">{{ article.title }}</div>
        </div>
      </div>
    </div>
  </ion-list>

  <div *ngIf="articlesEmpty" class="b-empty-box">Статьи не найдены</div>

</ion-content>
