<ion-modal-view class="modal-review">
  <ion-header-bar class="modal-head">
    <h1 class="title">Оцените товар</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReview(); ">&times;</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="add-review">
    <div class="add-review-star">
      <span class="{{ revData.markClass.positive }} product__single-review-type up" ng-click="toggleActive('positive')">
        <i class="fontello-icon icon-thumbs-up"></i>
      </span>
      <span class="{{ revData.markClass.negative }} product__single-review-type down" ng-click="toggleActive('negative')">
        <i class="fontello-icon icon-thumbs-down"></i>
      </span>
    </div>
    <form ng-submit="addReview(product)">
      <div class="list review-list">
        <label class="item item-r-text">
          <div class="tb-cell">
            <i class="icon ion-checkmark-circled"></i>
          </div>
          <div class="tb-cell">
            <textarea ng-model="revData.text" placeholder="Текст отзыва"></textarea>
          </div>
        </label>
        <label class="item item-r-positive">
          <div class="tb-cell">
            <i class="icon ion-plus-circled"></i>
          </div>
          <div class="tb-cell">
            <textarea ng-model="revData.positive" placeholder="Достоинства"></textarea>
          </div>
        </label>
        <label class="item item-r-negative">
          <div class="tb-cell">
            <i class="icon ion-minus-circled"></i>
          </div>
          <div class="tb-cell">
            <textarea ng-model="revData.negative" placeholder="Недостатки"></textarea>
          </div>
        </label>
        <label class="item item-input item-r-select item-select">
          <div class="input-label">
            <i class="icon ion-flag"></i>
            <span class="text">Опыт использования</span>
          </div>
          <select ng-model="revData.owning">
            <option selected disabled>Кликните для выбора</option>
            <option value="LESS_THAN_MONTH">Меньше месяца</option>
            <option value="FEW_MONTHS">Больше месяца</option>
            <option value="MORE_THAN_ONE_MONTH">Несколько месяцев</option>
          </select>
        </label>
          <button class="button button-rev button-block button-positive" ng-disabled="!revData.text || !revData.positive || !revData.negative" type="submit">Добавить</button>
          <p class="login__error">{{ revErr }}</p>
      </div>
    </form>
  </ion-content>
</ion-modal-view>