<ion-modal-view class="action-sheet-c">
  <ion-content scroll="false">
  	<ion-item ng-class="paramC ? '' : 'active'; " class="button" ng-click="closeC(); addParams(null, rubric);" class="button" ng-class="button.active ? 'active' : '' ">
		  Все <i class="icon ion-chevron-down"></i>
		</ion-item>
		<ion-item ng-repeat="button in category" ng-click="closeC(); addParams(button.id, rubric);" class="button" ng-class="button.active ? 'active' : '' ">
		  {{ button.name }} <i class="icon ion-chevron-down"></i>
		</ion-item>
		<ion-item class="action-sheet-cancel-c" ng-click="closeC(); ">
			Закрыть
		</ion-item>
  </ion-content>
</ion-modal-view>