<ion-modal-view class="action-sheet-c">
  <ion-content scroll="false">
		<form action="" method="get" class="filter__form">
		<h2 class="filter__form-title">Параметры</h2>
		<div class="filter__type-price">
			<h2 class="filter__block-title">Цена: </h2>
			<div class="range">
        <input type="range" min="{{ price.min }}" max="{{ price.max }}" value="{{ price.value }}" step="1" ng-model="price.value" class="ng-valid ng-dirty">
       	от {{ price.value }} до {{ price.max }} Руб
    	</div>	
		</div>
		<div class="filter__type-manuf">
			<h2 class="filter__block-title">Производитель: </h2>
			<div class="filter__type-manu-inner">
				<ion-checkbox class="button" value="{{ company.id }}" ng-repeat="company in companies"  ng-model="company.checked" 
                      ng-checked="company.checked">{{ company.name}}</ion-checkbox>
			</div>
		</div>
		<div class="action-sheet-cance-wrapper">
		<ion-item class="action-sheet-cancel-c first" ng-click="closeF(); ">
			Закрыть
		</ion-item>
		<ion-item class="action-sheet-cancel-c" ng-click="getFilterParams(); closeF();" >
			Применить
		</ion-item>
		</div>
		<form>
  </ion-content>
</ion-modal-view>