<ion-modal-view>
  <ion-header-bar class="modal-head">
    <h1 class="title">{{ showCatName }} {{ product.name }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">&times;</button>
    </div>
  </ion-header-bar>
  <ion-content class="product__single-modal-content" scroll="false">
    <ion-slide-box show-pager="true">
	    <ion-slide ng-repeat="image in product.images_array" style="max-width: 100%;">
	      <img ng-src="{{ image }}">
	    </ion-slide>
  	</ion-slide-box>
  </ion-content>
</ion-modal-view>