<ion-modal-view>
  <ion-header-bar class="modal-head">
    <h1 class="title">Регистрация</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReg()">&times;</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="modal-login">
    <form ng-submit="doReg()">
      <div class="list">
       <label class="item item-input border-r-top">
          <input type="text" ng-model="regData.firstName" placeholder="Имя">
        </label>
        <label class="item item-input border-r-bottom">
          <input type="text" ng-model="regData.lastName" placeholder="Фамилия">
        </label>
        <label class="item item-input border-r-top">
          <input type="email" ng-model="regData.userEmail" placeholder="Электронная почта">
        </label>
        <p class="agreement-ok">Я прочитал и согласен с <a href="#" ng-click="windowOpen('https://roscontrol.com/page/agreement/');">правилами</a></p>
        <button class="button button-reg button-block button-positive" ng-disabled="!regData.firstName || !regData.lastName || !regData.userEmail" type="submit">Регистрация</button>
        <p class="login__error">{{ regErr }}</p>
      </div>
    </form>
  </ion-content>
</ion-modal-view>