
//
.loading-md .spinner-crescent circle {
  stroke: $mainColor;
}


//
.spinner-crescent circle {
  stroke: $mainColor;
}
.infinite-loading {
  margin-bottom: 20px;
}



.ion-app.md {
  line-height: 1.2em;
}

.b-empty-box {
  margin: 15px 0;
  padding: 20px 15px;
  background: #FFF;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: 1px solid $borderColor;
  border-left: 0;
  border-right: 0;
}




//
@media screen and (max-width: 380px) {
  html {
    font-size: 60%;
  }
}


//
@media screen and (max-width: 340px) {
  html {
    font-size: 54%;
  }
}
