<ion-header>
  <ion-navbar no-border-bottom>

    <ion-buttons class="container-logo-group" left *ngIf="isRootCategories === true">
      <button class="container-logo" (click)="handlerLogoClick()">
        <img class="b-logo" src="assets/img/logo.svg">
      </button>
    </ion-buttons>

    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>


    <ion-buttons end>
      <search-component></search-component>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-list [hidden]="categoriesEmpty" class="grid-row" no-lines>
    <div class="container-section grid-flex">
      <div class="grid-padding grid-column-6 grid-column-small-12 grid-left grid-flex" *ngFor="let category of categories">
        <category-component [category]="category" ></category-component>
      </div>
    </div>
  </ion-list>

  <div [hidden]="!categoriesEmpty" class="b-empty-box">Категории не найдены</div>

</ion-content>
