page-product {
  background: #FFF;
  ion-slides {
    margin: 15px 0;
    img {
      max-width: 85%;
    }
  }
}


.b-product-photo {
  margin: 15px 0;
  text-align: center;
  img {
    max-width: 85%;
  }
}