page-product {
  background: #FFF;
  ion-slides {
    margin: 15px 0;
  }

  .swiper-container-horizontal > .swiper-pagination {
    bottom: 0;
    .swiper-pagination-bullet {
      margin: 0 4px;
    }
  }

  .swiper-slide {
    img {
      max-width: 85%;
      max-height: 85%;
    }
  }

}


.b-product-photo {
  margin: 15px 0;
  text-align: center;
  img {
    max-width: 85%;
  }
}