
product-item-component {
  display: block;
  width: 100%;
}

.b-product {
  width: 100%;
  height: 162px;
  padding-right: 80px;
  background: #FFF;
  cursor: pointer;
  &:hover {
    .product-name {
      color: $mainColor;
    }
  }

  .product-inner {
    height: 100%;
  }

  .b-rating {
    position: absolute;
    left: 0;
    top: 0;
  }

  .product-logo {
    width: 35%;
    max-width: 150px;
  }
  .product-name {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    width: 65%;
    padding-left: 15px;
    line-height: 1.3em;
  }

}



// 840 - 641 and 479
@media screen and (min-width: 641px) and (max-width: 840px), screen and (max-width: 479px) {
  .b-product {
    padding-right: 20px;
    .product-name {
      font-size: 16px;
    }
    .b-rating {
      height: 32px;
      width: 32px;
      font-size: 16px;
    }
  }
}



@media screen and (max-width: 960px) {
  .b-product {
    height: 150px;
  }
}

@media screen and (max-width: 840px) {
  .b-product {
    height: 140px;
  }
}


@media screen and (max-width: 768px) {
  .b-product {
    height: 130px;
  }
}


@media screen and (max-width: 640px) {
  .b-product {
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .b-product {
    height: 160px;
  }
}

@media screen and (max-width: 420px) {
  .b-product {
    height: 150px;
  }
}

@media screen and (max-width: 360px) {
  .b-product {
    height: 135px;
  }
}