<ion-header>
  <ion-navbar no-border-bottom>

    <ion-navbar>
      <ion-title>Поиск товаров</ion-title>
    </ion-navbar>

  </ion-navbar>

  <ion-searchbar
    #searchbar
    placeholder="Название товара..."
    debounce="700"
    [(ngModel)]="inputSearchValue"
    (ionInput)="onInput($event)">
  </ion-searchbar>


</ion-header>



<ion-content no-bounce>


  <ion-list no-lines *ngIf="!productsEmpty && inputSearchValue.length >= 3 && !startedSearch" class="grid-row" no-lines>

    <div class="container-section grid-flex">
      <div class="grid-padding grid-column-6 grid-column-small-12 grid-left grid-flex" *ngFor="let product of products">

        <product-item-search-component
          (click)="setCurrentCategory(product['category_id'])"
          [category]="currentCategory"
          [product]="product">
        </product-item-search-component>

      </div>
    </div>

  </ion-list>

  <div *ngIf="startedSearch" class="b-search-spinner">
    <ion-spinner></ion-spinner>
    <div>Ищу товары...</div>
  </div>

  <div class="util-empty-box" *ngIf="inputSearchValue.length < 3 && !startedSearch">Начните вводить название товара для поиска</div>

  <div class="util-empty-box" *ngIf="productsEmpty && inputSearchValue.length >= 3 && !startedSearch">К сожалению, по вашему запросу ничего не найдено</div>

</ion-content>