<ion-header>
  <ion-navbar no-border-bottom>

    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>

    <ion-buttons end>
      <button ion-button clear (click)="close(true)">Отмена</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="b-title" *ngIf="subTitle">{{ subTitle }}</div>

  <form (ngSubmit)="handlerAuthForEmail($event)">

    <div class="util-list-clear-padding">

      <ion-item [ngClass]="{'is-invalid': messageError.length > 0}">
        <ion-input [(ngModel)]="email" name="email" placeholder="Email" type="text" minlength="3"></ion-input>
      </ion-item>

      <ion-item [ngClass]="{'is-invalid': messageError.length > 0}">
        <ion-input [(ngModel)]="password" name="password" placeholder="Пароль" type="password" minlength="3"></ion-input>
      </ion-item>

      <div class="util-align-center">
        <button class="util-button" [disabled]="email.length === 0 || password.length === 0" type="submit" ion-button>Войти</button>
      </div>

      <div class="util-align-center">
        <a class="b-link-registration" href="https://roscontrol.com/user/register">Создать аккаунт</a>
      </div>

    </div>

    <div *ngIf="messageError.length > 0" class="util-message-error">{{ messageError }}</div>

  </form>



</ion-content>
