<ion-header>
  <ion-navbar no-border-bottom>

    <ion-navbar>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>

    <ion-buttons end>
      <search-component></search-component>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content no-bounce>


  <ion-segment [(ngModel)]="filter" (ionChange)="changeFilter($event)">
    <ion-segment-button value="Tested">
      Проверенные
    </ion-segment-button>
    <ion-segment-button value="NotTested">
      Ожидают проверки
    </ion-segment-button>
  </ion-segment>


  <ion-list no-lines [hidden]="productsEmpty" class="grid-row" no-lines>

    <div class="container-section grid-flex">
      <div class="grid-padding grid-column-6 grid-column-small-12 grid-left grid-flex" *ngFor="let product of products">
        <product-item-component
          [product]="product"
          [slug]="slug"
          [categoryTitle]="title"
          [properties]="properties">
        </product-item-component>
      </div>
    </div>

  </ion-list>


  <div [hidden]="!productsEmpty" class="b-empty-box">Товары не найдены</div>


  <ion-infinite-scroll *ngIf="products.length > 0 && totalCount > products.length" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Загружаю данные...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>