<div class="product__single-block">
	<div class="product__single-result">
		<div class="product-rating product__rating-black">
			X
		</div>
		<p class="product__single-result-txt">
			Товар в черном списке
		</p>
	</div>
	<div class="product__single-dl-1 product__single-wblock">
		<p><strong>Товар с нарушением</strong></p>
		<span class="danger__level-text-s">Степерь опасности:</span>
		<div class="danger__level-item">
	    <div class="danger-level black"></div>
	    <div class="danger-level black"></div>
	    <div class="danger-level grey"></div>
	    <div class="danger-level grey"></div>
    </div>
		<span class="danger__level-text">Низкая</span>
	</div>
	<div class="product__single-summary product__single-wblock">
		<span>Суть нарушения:<br></span>
		{{ product.test_summary }}
	</div>
</div>