<div class="product__single-block">
	<div class="product__single-result">
		<div class="product-rating product__rating-wait">
			?
		</div>
		<p class="product__single-result-txt">
			Товар еще не проверен
		</p>
	</div>
		<div class="product__single-summary product__single-summary-wait product__single-wblock">
		Данный продукт еще не прошел тестирование в нашей лаборатории. Отдайте голос за проведение подробного тестирования данного продукта.
	</div>
	<a class="product__vote-wait" ng-class="(product.vote_boolean==true) ? 'button-test-active' : ''" ng-href="#" ng-click="addProductVotes(product);">{{ product.vote_text }}</a>
</div>