<div class="product__single-block">
	<div class="product__single-result">
		<div class="product-rating product__rating-black">
			<i class="icon ion-close-round"></i>
		</div>
		<p class="product__single-result-txt">
			Товар в черном списке
		</p>
	</div>
	<div class="product__single-dl-1 product__single-wblock">
		<p><strong>Товар с нарушением</strong></p>
		<span class="danger__level-text-s">Степерь опасности:</span>
		<div class="danger__level-item">
	    <div ng-repeat="i in arrayDangerLevel track by $index" ng-class="i ? 'black' : 'grey'" class="danger-level"></div>
    </div>
		<span class="danger__level-text">
			{{ dangerLevelText }}
		</span>
	</div>
	<div class="product__single-summary product__single-wblock">
		<span>Суть нарушения:<br></span>
		{{ product.test_summary }}
	</div>
</div>