category-component {
  display: block;
  width: 100%;
}

.b-category {
  width: 100%;
  background: #FFF;
  cursor: pointer;
  &:hover {
    .category-name {
      color: $mainColor;
    }
    .category-tested {
      color: #4c4c4c;
    }
  }

  .category-inner {
    width: 100%;
    height: 100%;
  }
  .category-logo {
    width: 35%;
    max-width: 150px;
  }
  .category-data {
    width: 65%;
    padding-left: 15px;
  }
  .category-name {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    font-size: 18px;
  }
  .category-tested {
    font-size: 16px;
    color: #b2b2b2;
  }

}



// 360
@media screen and (max-width: 360px) {
  .b-category {
    .category-name {
      font-size: 17px;
    }
  }
}
