
/* 
	==========================================================================
  	ARTICLE MODE
  ========================================================================== 
*/

#mainContainer .l_gallery li.eq_0,
#mainContainer .l_gallery li {
	margin: 0 0 5px 5px;
}
#mainContainer .l_gallery li a:hover {
	border-color: transparent;
}
#mainContainer .l_gallery li img {
	margin: 0;
}
.photos.photos2 .photo {
	margin-left: 0;
	width: 49%;
	float: left;
}
.photos.photos2 .photo:nth-child(even) {
	float: right;
}
.fancybox-close {
	display: none;
}
.product-rating .rating-block {
	height: auto;
}
.table_with_list .rating-block {
	left: -215px;
}
.table_with_list .product-rating .rating-block {
	text-align: left;
}
.blacklist__item .danger-level {
	display: inline-block;
  width: 20%;
  height: 7px;
}
.blacklist__item {
	padding: 10px 0 15px;
}
.product-rating .rating-block .blacklist-desc {
	padding-top: 10px;
}
.blacklist__item-steper {
	font-size: 16px;
}

.table_with_list thead th {
	padding-right: 0;
	text-align: right;
}
.table_with_list.sortable tbody td:first-child {
	min-width: 50px;
	padding-right: 10px;
}
.table_with_list.sortable tbody td:last-child {
  padding-left: 5px;
  padding-right: 10px;
}
.table_with_list tbody td.name .name {
	width: auto;
}
.content_sortable .content_sortable-title .item {
	padding: 1px 1px 0 1px;
	border: 0;
  background: none;
}
.content_sortable .content_sortable-title {
	padding-bottom: 1px;
}
.product-table_icon__pic {
	  margin: -10px 0 0 0 !important;
}
.photo-with-text.right.size2 .photo-with-text_text,
.photo-with-text.right.size3 .photo-with-text_text,
.b_reference.b_reference-right .b_reference-text {
	margin-right: 0;
}
.photo-with-text.left.size2 .photo-with-text_text,
.photo-with-text.left.size3 .photo-with-text_text,
.b_reference.b_reference-left .b_reference-text {
	margin-left: 0;
}
.photo-with-text.right .photo-with-text_img-and-caption,
.photo-with-text.left .photo-with-text_img-and-caption  {
	float: none;
}
.b_reference.b_reference-right .b_reference-info,
.b_reference.b_reference-left .b_reference-info {
  float: none;
  margin-bottom: 10px;
}


@media only screen and (max-width: 480px) {
	.product-rating .rating-value,
	.product-rating,
	.main_rating_container,
	.product-rating .violation-value {
		width: 42px;
		font-size: 20px;
	}
	.main_rating_container,
	.rate_container {
		height: 42px;
		min-height: 42px;
	}
	.rate_container {
		width: 60px;
	}	
	.table_with_list td.name {
		padding-right: 0;
	}
}

@media only screen and (max-width: 385px) {
	#mainContainer .l_gallery li a {
		width: 152px;
		height: 152px;
	}
	.photos.photos2 .photo {
		margin-left: 0;
		width: 100%;
		float: left;
	}
	.product-rating .rating-block {
		top: -65px;
	}
}

@media only screen and (max-width: 350px) {
	#mainContainer .l_gallery li a {
		width: 120px;
		height: 120px;
	}
	.table_with_list td.name {
  	padding-right: 10px;
	}
	.product-rating .rating-value,
	.product-rating,
	.main_rating_container,
	.product-rating .violation-value {
		width: 35px;
		font-size: 20px;
		line-height: 12px;
	}
	.main_rating_container,
	.rate_container {
		height: 35px;
		min-height: 35px;
	}
	.rate_container {
		width: 35px;
	}
	.product-rating .rating-block {
		top: -70px;
	}
	.table_with_list .main_rating_container {
	  float: right;
		padding-right: 12px;
	}	
	.table_with_list.sortable tbody td:first-child {
		min-width: 36px;
	}
	.table_with_list.sortable tbody td:last-child {
		padding-right: 0;
	}
	.table_with_list thead th {
		padding-right: 0;
	}

}