
/* 
	==========================================================================
  	GLOBAL FRAMEWORK
  ========================================================================== 
*/

.pane, .view {
	background: #transparent;
}
.bar.bar-stable {
	height: 80px;
	background: #c80020;
	border: 0;
	color: #FFF;
}
.has-header {
	top: 80px;
}
.back-text {
	display: none !important;
}
.bar .title + .buttons {
	right: 25px;
}
.bar-stable .button.button-clear {
	color: #FFF;
	font-size: 16px;
}
.bar.bar-stable .title,
.bar-stable .button.button-icon,
.bar-stable .button.button-clear {
	top: 15px;
	color: #FFF;
	font-weight: normal;
	font-size: 32px;
}
.bar-stable .button.button-clear {
	left: 5px;
}
.bar.bar-stable .title {
	font-family: "BrutalMedium";
	top: 17px;
}
.bar .button.button-icon .icon:before,
.bar .button.button-icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before,
.bar .button.button-clear .icon:before,
.bar .button.button-clear.icon:before,
.bar .button.button-clear.icon-left:before,
.bar .button.button-clear.icon-right:before {
	font-size: 54px;
}

.wrapping-list .item-content, .wrapping-list .item,
.wrapping-list .item-content, .wrapping-list .item p {
  overflow: initial;
  white-space: normal;
}
.item {
	border-color: #e0e0e0;
}
.item-input {
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.has-footer {
	bottom: 60px;
}
@media (min-width: 1px) {
	.active .modal-backdrop-bg {
	  opacity: 0.5;
	}
	.modal-backdrop-bg {
	  -webkit-transition: opacity 300ms ease-in-out;
	  transition: opacity 300ms ease-in-out;
	  background-color: #000;
	  opacity: 0;
	}
}

/* 
	==========================================================================
  	GLOBAL APP
  ========================================================================== 
*/
body {
	background: #FAFAFA;
}
#mainContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 640px;
	min-width: 320px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
}

a {
	color: #354777;
}
img {
	max-width: 100%;
	max-height: 100%;
}
a:hover,
a:active {
	color: #a8001c;
}
.green {
	background: #093;
}
.black {
	background: #000;
}
.grey {
	background: #d8d8d8;
}
.button__disabled {
	color: #E0E0E0 !important;
}

.product-rating {
	width: 80px;
  margin: 32px 25px 0 15px;
  padding: 22px 0;
  font-size: 36px;
  font-family: "BrutalMedium";
  color: #fff;
  text-align: center;
  line-height: 1;
  background: #093;
  cursor: pointer;
}
.product__rating-wait {
	background: #b0b0b0;
}
.product__rating-black {
	background: #000;
}
.product__rating-violation {
	color: #765e00;
  background: #fc0;
}
.product__rating-green {
	background: #093;
}
.loader {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  z-index: 2;
}
.product__empty {
	margin: 10px 0;
	display: block;
	text-align: center;
}
.danger__level-item {
	margin: 5px 0 0 0;
	width: 310px;
}
.danger__level-text-s {
	
}
.danger__level-item  .danger-level {
	margin-right: 3px;
  display: inline-block;
  width: 24%;
  height: 15px;
}
.border-r-top {
	-webkit-border-radius: 3px 0;
  -moz-border-radius: 3px 0;
  border-radius: 3px 0;
}
.border-r-bottom {
	-webkit-border-radius: 0 3px;
  -moz-border-radius: 0 3px;
  border-radius: 0 3px;
}
.clearfix {
	clear: both;
	display: block;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "BrutalMedium"; */
@font-face {
    font-family: "BrutalMedium";
    src: url("../fonts/BrutalMedium.eot");
    src: url("../fonts/BrutalMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BrutalMedium.woff") format("woff"),
    url("../fonts/BrutalMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}




/* 
	==========================================================================
  	MAIN
  ========================================================================== 
*/

.main__category-item {
	display: block;
	border: 0; 
	text-align: center;
	position: relative;
}
.main__category-item > a {
	background: none !important;
}
.main__category-item .item-content {
	padding: 0 !important;
	margin-bottom: -4px;
}

.main__category-icon,
.main__category-name,
.main__category-tested {
	background: none;
	border: 0;
	color: #FFF;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	z-index: 2;
}
.main__category-icon {
	top: 14%;
	padding: 0;
}
.main__category-icon img {
	width: 138px;
	height: 92px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.main__category-name {
	top: 47%;
	font-size: 36px;
	color: #FFF;
}
.main__category-tested {
	width: 165px;
	margin: 17px auto 0;
	top: 64%;
  padding: 14px 0;
	background: #009400;
	font-size: 21px;
	box-shadow: none;
}


/* 
	==========================================================================
  CATEGORY
  ========================================================================== 
*/
.product__category-content {
	top: 130px
}
.categories-list .icon{
	color: #c7c7c7;
	font-size: 22px;
}
.categories-list .item-content {
	padding: 20px;
	font-size: 22px;
	font-family: "BrutalMedium";
	color: #292a2f;
}
.categories-list .item-content:active {
	background: #E7E7E7;
}
.product__category {
	position: relative;
}
.product__category .item-content {
	padding: 0;
	display: table;
	width: 100%;
}
.product__category .item-content.activated {
	background: none;
}
.product__category .item-content:active .product__overlay-active {
	visibility: visible;
} 
.product__category .product__category-thumbnail {
	width: 140px;
	height: 100%;
	padding: 5px 0;
  display: table-cell;
  vertical-align: middle;
  position: relative;	
}
.product__category .product__category-thumbnail img {
	display: block;
	width: 100%;
	position: relative;
	z-index: 3;
}
.product__category .product__category-center {
	display: table-cell;
	padding: 10px 15px;
	vertical-align: middle;
	font-size: 24px;
	font-family: "BrutalMedium";
	color: #292a2f;
	overflow: initial;
  white-space: normal;
}
.product__category .product__category-name {
	display: block;
	line-height: 30px
}
.product__category .product__category-price {
	display: block;
	margin-top: 10px;
	color: #949494;
}
.product__category .product__category-button-test {
  width: 110px;
  font-size: 20px;
}
.product__category .product__category-rating-wrap,
.product__category-button-wrap {
	width: 80px;
  padding-right: 20px;
	display: table-cell;
	vertical-align: middle;
}
.product__category-button-wrap {
	width: 140px;
}
.product__category .product__category-rating {
	display: block;
	width: 80px;
	margin: 0;
}
.product__category .product__overlay-active {
	visibility: hidden;
	position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.tabs-top.tabs-top-cat {

}
.tabs-top.tabs-top-cat > .tabs {
	height: 1px;
  line-height: 0;
  top: 80px;
}

.product__category-tabs-wrap {
	font-size: 0;
	width: 100%;
}
.product__category-tabs {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	position: relative;
	width: 15%;
  background: #F7F7F7;
  border-right: 1px solid #DDDDDD;
 	border-bottom: 1px solid #DDDDDD;
  cursor: pointer;
}
.product__category-tabs:last-child {
	border-right: 0;
}
.product__category-tabs.product__category-tabs-active {
	width: 70%;
}
.product__category-tabs-active:after, .product__category-tabs-active:before {
  bottom: -1px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.product__category-tabs-active:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #Ffffff;
  border-width: 9px;
  margin-left: -9px;
}
.product__category-tabs-active:before {
  border-color: rgba(249, 249, 249, 0);
  border-bottom-color: #D7D7D7;
  border-width: 10px;
  margin-left: -10px;
}
.product__category-tabs span {
	display:  inline-block;
	position: relative;
  top: -5px;
  margin-left: 5px;
  font-family: "BrutalMedium";
	font-size: 20px;
  color: #292a2f;
}
.product__category-tabs.product__category-tabs-deactive span,
.product__category-tabs.product__category-tabs-disabled span{
	display: none;
}
.product__category-tabs .fa {
	font-size: 32px
}
.product__category-tabs-deactive .fa {
	color: #666666;
}
.product__category-tabs-active .fa {
	color: #B5202D;
}
.product__category-tabs-disabled {
	cursor: default;
}
.product__category-tabs-disabled .fa {
	color: #C2C2C2;
}
.product__category-filter-wrap {
	margin: 0 0 10px 0;
}

/* footer sorting */
.bar.footer__sorting.bar-footer {
	padding: 0;
	height: 60px;
	bottom: 1px;
	background: #FFF;
	border-top: 1px solid #DDD;
}
.bar.footer__sorting.bar-footer .footer__sorting-item {
	width: 50%;
	text-align: center;
}
.bar.footer__sorting.bar-footer .footer__sorting-item:first-child {
	border-right: 1px solid #DDD;
}
.bar.footer__sorting.bar-footer .footer__sorting-item .button {
	width: 100%;
  display: block;
  padding-top: 15px;
 	font-family: "BrutalMedium"; 
	background: none;
  border: 0;
  color: #222;
  font-size: 20px;
}


/* 
	==========================================================================
  	PRODUCT
  ========================================================================== 
*/

.product__single-wblock {
	padding: 15px 10px;
}
.product__single-wblock p strong {
	font-family: "BrutalMedium";
  font-size: 18px;
  font-weight: normal;
}
.product__single-wrap {

}
.product__single-head {

}
.product__single-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.product__single-head .product__single-name {
	padding: 20px 15px;
	font-size: 32px;
	line-height: 36px;
	font-family: "BrutalMedium";
	color: #292a2f;
	border-bottom: 1px solid #e0e0e0;
}
.product__single-head .product__single-info {
	overflow: hidden;
}
.product__single-head .product__single-info-left {
	float: left;
	position: relative;
	width: 260px;
	height: 260px;
	margin: 0 0 10px 30px;
	text-align: center;
}
.product__single-head img {
	position: relative;
	max-width: 96%;
	z-index: 5;
	vertical-align: middle;
	cursor: pointer;
}
.product__single-head .product__single-info-right {
	float: right;
	width: 275px;
	padding-top: 72px;
}
.product__single-head .product__single-info-right a {
	display: block;
	margin-bottom: 35px;
	font-size: 25px;
	font-family: "BrutalMedium";
	text-decoration: none;
}
.product__single-head .product__single-info-right a:last-child {
	margin-left: 3px;
} 
.product__single-head .product__single-info-right a .fa {
	margin-right: 10px;
	font-size: 36px;
}


/**/
.product__single-block {
	color: #292a2f;
}
.product__single-result {
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.product__single-result .product-rating,
.product__single-result .product__single-result-txt {
	display: inline-block;
	margin: 0;
  vertical-align: middle;
}
.product__single-result .product-rating {

}
.product__single-result .product__single-result-txt {
	font-family: "BrutalMedium";
  color: #292a2f;
  font-size: 22px;
  margin-left: 10px;
}

/**/
.product__single-rating {
  margin: 20px 0 0 0;
  padding-bottom: 0;
}
.product__single-rating-row {
	overflow: hidden;
	margin-bottom: 20px;
}
.product__single-rating-left {
	width: 87%;
	float: left;
}
.product__single-rating-right {
	margin-top: 10px;
	float: right;	
	font-size: 26px;
}
.product__single-rating-text {
  margin-bottom: 5px;
  line-height: 1;
  text-align: left;
}
.product__single-rating-data {

}
.product__single-rating-irow {
	display: block;
	height: 10px;
  background-color: #d8d8d8;
  text-align: left;
}
.product__single-rating-row i {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

/* summary */
.product__single-summary {
	padding-top: 0;
	border-bottom: 1px solid #e0e0e0;
}
.product__single-summary span {
	font-family: "BrutalMedium";
  font-size: 18px;
}
.product__single-summary-wait {
  margin-top: 10px;
	padding: 10px;
	border-bottom: 0;
}

/* plus and minus */
.product__single-plus-and-minus {
	overflow: hidden;
	padding-bottom: 7px;
	border-bottom: 1px solid #e0e0e0;
}
.product__single-plus-and-minus ul li {
	display: table;
	margin-bottom: 7px;
}
.product__single-plus-and-minus span{
	display: table-cell;
}
.product__single-plus {
	float: left;
	width: 45%;
}
.product__single-plus-icon,
.product__single-minus-icon {
	padding-right: 5px;
	color: #199B50;
  font-size: 22px;
  font-weight: bold;
  vertical-align: top;
}
.product__single-minus {
	float: right;
	width: 45%;
}
.product__single-minus-icon {
	color: #C74441;
}

/* Wrap */
.product__single-reviews-wrap {
	
}

/* Rating */
.product__single-reviews-rating {
	border-bottom: 1px solid #e0e0e0;

}
.product__single-reviews-rating-title {
	font-size: 22px;
	color: #292a2f;
	font-family: "BrutalMedium";	
}
.product__single-reviews-rating span {
	display: inline-block;
	margin-right: 3px;
	border: 0;
}
.product__single-reviews-rating .fa {
	font-size: 36px;
}
.product__single-reviews-rating.rating-empty .fa {
	color: #E0E0E0;
}
.product__single-reviews-rating.rating-full .fa {
	color: #354777;
}
.product__single-reviews-text {
	margin-left: 7px;
	position: relative;
  top: -7px;
}


/* Slider rev */
.product__single-reviews-slider {

}
.product__single-reviews-slider-head {
	overflow: hidden;
}
.product__single-reviews-slider-head {

}
.product__single-slider-count {
	width: 150px;
  float: left;
}
.product__single-slider-nav {
	width: 150px;
	float: right;
	font-size: 0;
	margin-top: 5px;
	text-align: right;
}
.product__single-slider-nav button {
	padding: 0 7px;
	color: #354777;
  border: none;
  font-size: 20px;
  background: none;
}
.product__single-slider-nav button:first-child {
	border-right: 1px solid #e0e0e0;
}
.product__single-reviews-slider-body {
  color: #292a2f;
}
.product__single-reviews-slider-top {
	overflow: hidden;
	margin-top: 0;
}
.product__slider-avatar {
	width: 80px;
  height: 80px;
  float: left;
  background: #E0E0E0;
  line-height: 16px;
  text-align: center;
  border-radius: 100px;
}
.product__slider-avatar img{
  border-radius: 100px;
}
.product__slider-avatar span {
	position: relative;
  top: 32px;
}
.product__slider-in {
	float: left;
  margin-top: 20px;
  margin-left: 10px;
}
.product__slider-rate {
	width: 120px;
	margin-top: 10px;
  float: right;
  text-align: right;
}
.product__slider-rating .fa {
	font-size: 20px;
}
.product__slider-rating.rating-empty .fa {
	color: #E0E0E0;
}
.product__slider-rating .fa {
	color: #354777;
}

.product__slider-name {
	font-family: "BrutalMedium";
	margin-bottom: 2px;
	color: #354777;
}
.product__slider-create {

}
.product__single-reviews-slider-bottom {
	margin-top: 15px;
}
.product__single-reviews-slider-bottom p strong {
	display: block;
  font-family: "BrutalMedium";
  font-weight: normal;
}
.product__single-add-reviews {
	display: block;
  width: 100%;
  padding: 15px 0;
  color: #FFF;
  background: #354777;
  font-size: 16px;
  text-align: center;
  border: 0;
}
.product__single-add-reviews:active,
.product__single-add-reviews:hover {
	background: #3E5389
}

/* properties  */
.product__single-prop {
	margin-top: 10px;
}
.product__single-prop-main {
	color: #292a2f;
	padding: 10px 0 10px 0;
}
.product__single-prop-ititle {
	padding: 12px 10px 10px 10px;
	margin-top: -1px;
  color: #292a2f;
  font-family: "BrutalMedium";
  background: #F9F9F9;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.product__single-prop-table {
	width: 100%;
}
.product__single-prop-table td{
  padding: 10px;
  width: 50%;
  border-bottom: 1px solid #EDEDED;
  vertical-align: middle;
}
.product__single-prop-td-1 {
	color: #354777 !important
}
.product__single-prop-td-2 {

}

/* wait */
.product__vote-wait,
.product__category-button-test,
.like__googleplay {
	display: block;
	width: 300px;
	padding: 15px 0;
	margin: 10px auto;
	border: 1px solid #354777;
  text-decoration: none !important;
  text-align: center;
	-web-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.product__vote-wait:hover,
.product__vote-wait:active,
.product__category-button-test:hover,
.product__category-button-test:active,
.like__googleplay:hover,
.like__googleplay:active{
	background: #354777;
	color: #FFF;
}

/* 
	==========================================================================
  	MENU
  ========================================================================== 
*/

.menu__content {
	color: #FFF;
	background: url('../img/bg-sidebar.png') top repeat-y;
}

.menu__content .item-content,
.menu__content .item,
.menu__content .item-content:active {
	color: #FFF;
	border: 0;
	background: transparent !important;
}
.menu__content .item:active{
	background: rgba(255, 255, 255, 0.25) !important;
}
.menu__content .item-content {
	padding: 0 30px;
	font-size: 24px;
}
.menu__content .menu__item-inner {
	display: block;
	position: relative;
	padding: 18px 0 28px;
}
.menu__content .menu__item-inner:after {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.3);
}
.menu__content .item:last-child .menu__item-inner:after {
	display: none;
}
.menu__content .list-count {
  display: inline-block;
  height: 42px;
  width: 42px;
  margin-top: -21px;
  position: absolute;
  right: 0;
  top: 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  line-height: 42px;
}
.menu__content .fa {
  margin-right: 20px;
  position: relative;
  top: 5px;
 	font-size: 34px;
} 

/*all*/
.menu__avatar {
	width: 180px;
  height: 180px;
  display: block;
  margin: 40px auto 20px;
  border-radius: 100px;
  border: 5px solid transparent;
}

/*no login*/
.menu__nologin-wrap {
	margin-bottom: 30px;
	text-decoration: none;
}
.menu__nologin-avatar {
  background: #EDEDED;
  border: 1px solid #DDDDDD;
}
.menu__nologin-url {
	display: block;
	color: #FFF;
  font-size: 26px;
  text-align: center;
  margin: 0 0 50px 0;
}

/*login*/
.menu_avatar_user {
	border: 5px solid #937591;
}
.menu__login-wrap {
	margin-bottom: 30px;
}
.menu__login-wrap-link {
	text-decoration: none;
}
.menu__login-name,
.menu__logout {
	font-size: 26px;
	color: #FFF !important;
	display: block;
	text-align: center;
}
.menu__logout {
	font-size: 16px;
	margin-top: 10px;
}


/* 
	==========================================================================
  	MODAL
  ========================================================================== 
*/

.modal {
	position: absolute;
	top: 0;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

/* fix */
@media (min-width: 680px) {
	.modal {
		top: 20%;
		right: 20%;
		bottom: 20%;
		left: 20%;
		overflow: visible;
		min-height: 240px;
		width: 60%;
	}
	.action-sheet-c {
		bottom: 0;
		margin-top: -30px;
		margin-left: 0;
	}
}
@media (max-width: 680px) {
	.action-sheet-c {
		width: 90%;
	  left: 5%;
	  margin-left: 0;
	  bottom: 0;
	  margin-top: -30px;
	}
}


.modal-head { 
	background: #C80020;
	height: 80px;
}
.modal-head .title + .buttons {
	right: 12px;
}
.modal-head .button.button-clear {
  font-size: 55px;
  color: #FFF;
  top: 12px;
  right: 0;
}
.modal-head .title { 
  font-size: 24px;
  font-family: "BrutalMedium";
  color: #FFF;
  top: 18px;
}
.modal-content {
	padding: 20px 0;
	text-align: center;
}
.modal-login {
	padding: 50px 20px 20px 20px;
}
.modal-login input {
	padding: 25px 0;
  font-size: 16px;
}
.modal .button.button-block {
	background: #354777;
  border: 1px solid #354777;
  padding: 9px 0;
  margin-top: 30px;
}
.product__single-modal-content {
	text-align: center;
	padding: 20px;
}
.product__single-modal-content .slider{
	height: 100%;
}
.login__error-l {
	border-color: #C80020;
}
.login__error {
  margin: 10px 0;
  font-size: 16px;
 	text-align: center;
  color: #C80020
}


/* 
	==========================================================================
  	PROFILE
  ========================================================================== 
*/

.user__profile-head {
	display: table;
	width: 100%;
	padding: 15px;
}
.user__profile-head .td {
	display: table-cell;
	vertical-align: middle;
}
.user__profile-head .td:first-child {
	width: 140px;
}
.user__profile-avatar {
	width: 140px;
  height: 140px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.user__profile-name {
	margin-left: 20px;
	font-size: 24px;
  font-family: "BrutalMedium";
}
.user__profile-center {
	margin-bottom: 50px;
}
.user__profile-list .item,
.user__profile-list-foot .item {
	font-size: 18px;
}
.user__profile-foot {

}
.user__profile-foot .list-out .list{
	margin-top: 15px;
}
.user__profile-foot .user__profile-foot-inner-item {
	float: left;
	width: 25%;
}
.user__profile-foot .user__profile-foot-inner-item .activated {
	background: none !important; 
} 
.user__profile-foot .user__profile-foot-inner-item .item-content { 
	padding: 5px;
}
.user__profile-list-foot-count {
	background: #E1E1E1;
  color: #42527E;
  padding: 4px 8px;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/* 
	==========================================================================
  	PAGE ABOUT
  ========================================================================== 
*/

.page__about {
	text-align: center;
}
.page__about h2 {
	margin: 10px 0;
}
.page__about .bar.bar-footer {
	padding: 10px 0;
	height: 61px;
	border-top: 1px solid #DDDDDD;
	background: #f7f7f7;
}
.page__about .logo {
	 width: 200px;
  display: inline-block;
  margin: 50px 0 20px;
}
.page__about .list {
	margin-top: 35px;
	text-align: left;
}
.page__about-foot {
	width: 100%;
	color: #848484;
	background: #f7f7f7;
	text-align: center;
}
.like__googleplay {
	  margin: 10px auto 30px;
}


/* 
	==========================================================================
  	ARTICLES
  ========================================================================== 
*/
.articles__wrap {
	
}
.articles__category-item {
	border: 0;
}
.articles__category-item .item-content {
	padding: 0;
	margin-bottom: -4px;
}
.articles__category-img {
	width: 100%;
}
.articles__category-title {
	font-family: "BrutalMedium";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
 	border: 0;
  color: #FFF;
  font-size: 22px;
  line-height: 24px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: initial;
  white-space: normal;
}
.articles__category-title .rubric {
	display: block;
  font-size: 16px;
  margin-top: 5px;
}


/* 
	==========================================================================
  	ARTICLE SINGLE
  ========================================================================== 
*/
.article__single {
	padding: 0px 10px;
}
.article__single h2 {
	margin: 10px 0 5px;
	line-height: 28px;
	font-size: 24px;
}
.article__single .rubric {
	color: #354777;
	font-size: 18px;
}
.article__single .html-content {
	margin-top: 20px;
}
.article__single p {
	margin-bottom: 10px;
}
.article__single img {
	margin: 10px 0;
}

/* 
	==========================================================================
  	PRODUCT SHOPPING
  ========================================================================== 
*/

.product__shopping {
	top: 146px;
	background: #FAFAFA;
}
.product__shopping-top-wrap {
	padding: 0;
}
.product__shopping-top-wrap > .tabs {
	top: 80px;
  background: #ECECEC;
  padding: 11px 0;
  height: 67px;
}
.product__shopping-search {
	text-align: center;
	padding: 0 10px !important;
	font-size: 16px !important;
	position: absolute;
	left: 10px;
	height: 44px !important;
	width: 87%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.search__no-result {
	text-align: center;
  padding: 10px 0;
  color: #C80020;
}
.product__shopping-reset {
	float: right;
	height: 42px;
	width: 42px;
	position: absolute;
	right: 10px;
  top: 12px;
  font-size: 32px;
  line-height: 28px;
  background: #FFF;
  color: #B30E26;
	border: 0;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
.footer__shopping-tabs {
	height: 62px;
	padding: 0;
}
.footer__shopping-tabs > .tabs-bottom > .tabs {
	top: 0;
	border-color: #EAEAEA;
}
.product__shopping-tabs-wrap {
	width: 100%;
}
.product__shopping-tab {
	width: 33%;
	height: 59px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border-top: 3px solid #F7F7F7;
	background: #F7F7F7 !important;
	font-family: "BrutalMedium";
  background: none;
  color: #222;
  font-size: 20px;
}
.product__shopping-tab:first-child {
	width: 34%
}
.product__shopping-tab-active {
	border-top-color: #B61F31;
	background: #FFF !important;
}
.product__shopping-tab span {
	position: relative;
  top: 4px;	
}

/* 
	==========================================================================
  	SHOPPING LIST
  ========================================================================== 
*/

.product__category-s {
	padding: 0;
	background: #FFF;
}
.product__category-s-name {
  color: #42527E;
  font-size: 26px;
  display: inline-block;
  padding: 20px 0px 20px 10px;
}
.product__category-s-count {
	background: #E1E1E1;
	color: #42527E;
	padding: 4px 8px;
  margin-left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.product__category-s-inner {
	display: table;
	width: 100%;
	padding-top: 10px;
  padding-bottom: 10px;
  border-right: 0;
  border-left: 0;
}
.product__category-s-inner-image {
	width: 100px;
	height: 100px;
	display: table-cell;
	position: relative;
}
.product__category-s-inner-image img {
	position: relative;
	z-index: 2;
}
.product__category-s-inner-name {
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
	overflow: initial;
  white-space: normal;
  font-size: 22px;
  line-height: 26px;
	font-family: "BrutalMedium";
}
.product__category-s-inner-count {
	padding: 0 5px;
	width: 30px;
	display: table-cell;
	vertical-align: middle;
	color: #42527E;
	text-align: center;
	font-weight: bold;
}	

/* 
	==========================================================================
  	ACTION SHEET
  ========================================================================== 
*/

.action-sheet-c {
	background: transparent;
}
.action-sheet-c .scroll-content {
	top: auto;
	bottom: 30px;
} 
.action-sheet-group {

}
.action-sheet-title {

}
.action-sheet-c .button {
	padding: 5px 15px;
	width: 100%;
	margin-top: -1px;
	background: #363638;
	color: #FFF;
	font-size: 20px;
	border: 1px solid #2E2F34;
	text-align: left;
}
.action-sheet-c .button .fa {
	display: none;
	position: absolute;
  right: 20px;
  top: 15px;
  font-size: 20px;
}
.action-sheet-c .button:first-child {
	-moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.action-sheet-c .button:hover,
.action-sheet-c .button:active,
.action-sheet-c .button.active {
	background: #3E3E3F;
	border: 1px solid #2E2F34;
	color: #FFF;
}
.action-sheet-c .button.active .fa {
	display: block;
}
.action-sheet-c .action-sheet-cancel-c {
	color: #FFF;
	font-size: 20px;
	border: 0;
	background: #354777 !important;
	text-align: center;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.action-sheet-c .action-sheet-cancel-c:hover,
.action-sheet-c .action-sheet-cancel-c:active {
	background: #354777;
}
