/* 
*
*** GLOBAL FRAMEWORK ***
*
*/
#mainContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	background: transparent;
	color: #222;
}
.pane, .view {
	background: #transparent;
}
.bar.bar-stable {
	height: 80px;
	background: #c80020;
	border: 0;
	color: #FFF;
}
.has-header {
	top: 80px;
}
.back-text {
	display: none !important;
}
.bar .title + .buttons {
	right: 25px;
}
.bar-stable .button.button-clear {
	color: #FFF;
	font-size: 16px;
}
.bar.bar-stable .title,
.bar-stable .button.button-icon,
.bar-stable .button.button-clear {
	top: 17px;
	color: #FFF;
	font-weight: normal;
	font-size: 32px;
}
.bar-stable .button.button-clear {
	left: 10px;
}
.bar .button.button-icon .icon:before,
.bar .button.button-icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before,
.bar .button.button-clear .icon:before,
.bar .button.button-clear.icon:before,
.bar .button.button-clear.icon-left:before,
.bar .button.button-clear.icon-right:before {
	font-size: 54px;
}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
    background: #FFF; 
}
.wrapping-list .item-content, .wrapping-list .item,
.wrapping-list .item-content, .wrapping-list .item p {
  overflow: initial;
  white-space: normal;
}


/* 
*
*** GLOBAL APP ***
*
*/
a {
	color: #354777;
}
a:hover,
a:active {
	color: #a8001c;
}
.green {
	background: #093;
}
.black {
	background: #000;
}
.grey {
	background: #d8d8d8;
}
.button__disabled {
	background: #D8D8D8 !important;
}

.product-rating {
	width: 50px;
  padding: 9px 0;
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 1;
  background: #093;
  cursor: pointer;
}
.product__rating-wait {
	background: #b0b0b0;
}
.product__rating-black {
	background: #000;
}
.product__rating-violation {
	color: #765e00;
  background: #fc0;
}
.product__rating-green {
	background: #093;
}
.loader {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  z-index: 2;
}
.product__empty {
	margin: 10px 0;
	display: block;
	font-size: 16px;
	text-align: center;
}
.danger__level-item {
	margin: 0;
}
.danger__level-text-s {
	font-size: 13px;
}
.danger__level-item  .danger-level {
	margin-right: 1px;
  display: inline-block;
  width: 32px;
  height: 10px;
}

/* 
*
*** MAIN ***
*
*/

.main__category-item {
	display: block;
	height: 314px;
	border: 0;
	text-align: center;
	background-attachment: fixed;
	background-position: center;
}
.main__category-item > a {
	background: none !important;
}
.main__category-item .item-content {
	padding: 52px 0 0 0 !important;
}

.main__category-icon,
.main__category-name,
.main__category-tested {
	background: none;
	border: 0;
	color: #FFF;
}
.main__category-icon {
	display: inline-block;
	width: 138px;
	height: 92px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.main__category-name {
	font-size: 36px;
	color: #FFF;
}
.main__category-tested {
	width: 165px;
	margin: 17px auto 0;
  padding: 14px 0;
	background: #009400;
	font-size: 21px;
	box-shadow: none;
}


/* 
*
*** CATEGORY ***
*
*/
.categories-list .icon{
	color: #B0B0B0;
}

.product__category {

}
.product__category .item-content {
	padding: 5px;
}
.product__category .product__category-thumbnail {
	width: 80px;
	height: 80px;
  float: left;
  position: relative;	
}
.product__category .product__category-thumbnail img {
	display: block;
	width: 100%;
	max-width: 100%;
	position: relative;
	z-index: 3;
}
.product__category .product__category-name {
	float: left;
	margin: 30px 0 0 15px;
	font-size: 16px;
}
.product__category .product__category-rating {
	float: right;
  margin-top: 15px;
}
.product__category-tabs-wrap {
	overflow: hidden;
	font-size: 0;
	text-align: center;
}
.product__category-tabs {
	display: inline-block;
	width: 33.3%;
	margin: 10px 0 12px 0px;
  font-size: 15px;
  border-right: 1px solid #FFF;
  cursor: pointer;
}
.product__category-tabs span {
	display:  inline-block;
	width: 100%;
  padding: 10px 0;
  color: #FFF;
}
.product__category-tabs-deactive {
	background: #C2C0C0;
}
.product__category-tabs-active{
	background: #C80020;
}
.product__category-filter-wrap {
	margin: 0 0 10px 0;
}

/* footer sorting */
.bar.footer__sorting.bar-footer {
	padding: 0;
	background: #FFF;
	border-top: 1px solid #DDD;
}
.bar.footer__sorting.bar-footer .footer__sorting-item {
	width: 50%;
	text-align: center;
}
.bar.footer__sorting.bar-footer .footer__sorting-item:first-child {
	border-right: 1px solid #DDD;
}
.bar.footer__sorting.bar-footer .footer__sorting-item .button {
	width: 100%;
  height: 45px;
  display: block;
	background: none;
  border: 0;
  color: #222;
  font-size: 16px;
}


/* 
*
*** PRODUCT ***
*
*/
.product__single-wblock {
	padding: 15px 10px;
}

.product__single-wrap {

}
.product__single-head {

}
.product__single-head img {
	width: 220px;
	max-width: 100%;
}
.product__single-head .product__single-name {
	padding: 10px 15px;
	font-size: 32px;
	color: #222;
	border-bottom: 1px solid #ddd;
}
.product__single-head .product__single-info {
	overflow: hidden;
}
.product__single-head .product__single-info-left {
	float: left;
	width: 250px;
}
.product__single-head .product__single-info-right {
	float: right;
	width: 250px;
	padding-top: 80px;
}
.product__single-head .product__single-info-right a {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	text-decoration: none;
}

/**/
.product__single-result {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.product__single-result .product-rating,
.product__single-result .product__single-result-txt {
	display: inline-block;
	margin: 0;
  vertical-align: middle;
}
.product__single-result .product__single-result-txt {
	font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  color: #222;
}

/**/
.product__single-rating {
  margin: 5px 0 0 0;
  padding-bottom: 0;
}
.product__single-rating-row {
	overflow: hidden;
	margin-bottom: 15px;
}
.product__single-rating-left {
	width: 90%;
	float: left;
}
.product__single-rating-right {
	margin-top: 10px;
	float: right;	
	font-size: 26px;
}
.product__single-rating-text {
	font-size: 13px;
  color: #333;
  margin-bottom: 5px;
  line-height: 1;
  text-align: left;
}
.product__single-rating-data {

}
.product__single-rating-irow {
	display: block;
	height: 8px;
  background-color: #d8d8d8;
  text-align: left;
}
.product__single-rating-row i {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

/* summary */
.product__single-summary {
	border-bottom: 1px solid #ddd;
}

/* plus and minus */
.product__single-plus-and-minus {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.product__single-plus-and-minus ul li {
	margin-bottom: 3px;
}
.product__single-plus {
	float: left;
	width: 45%;
}
.product__single-plus-icon,
.product__single-minus-icon {
	color: #199B50;
	font-size: 20px;
  vertical-align: top;
}
.product__single-minus {
	float: right;
	width: 45%;
}
.product__single-minus-icon {
	color: #C74441;
}

/* Wrap */
.product__single-reviews-wrap {
	
}

/* Rating */
.product__single-reviews-rating {
	border-bottom: 1px solid #ddd;
}
.product__single-reviews-rating-title {
	font-size: 16px;	
}
.product__single-reviews-rating span {
	display: block;
}
.product__single-reviews-rating .rating {
	margin: 3px 0;
}
.product__single-reviews-rating .rating li {
	display: inline-block;
}
.product__single-reviews-rating .rating li i {
	margin-right: 2px;
	font-size: 24px;
	color: #354777
}


/* Slider rev */
.product__single-reviews-slider {

}
.product__single-reviews-slider-head {
	overflow: hidden;
}
.product__single-reviews-slider-head {

}
.product__single-slider-count {
	width: 150px;
  float: left;
}
.product__single-slider-nav {
	width: 150px;
	float: right;
	margin-top: 5px;
	text-align: right;
}
.product__single-slider-nav button {
	background: #354777;
  border: none;
  color: #FFF;
}
.product__single-reviews-slider-body {

}
.product__single-reviews-slider-top {
	overflow: hidden;
	margin-top: 10px;
}
.product__slider-avatar {
	width: 50px;
  height: 50px;
  float: left;
  background: #EDEDED;
  line-height: 16px;
  text-align: center;
  border-radius: 100px;
}
.product__slider-avatar img{
	max-width: 100%;
  border-radius: 100px;
}
.product__slider-avatar span {
	position: relative;
  top: 7px;
}
.product__slider-in {
	float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.product__slider-rate {
	width: 100px;
  float: right;
}
.product__slider-rate .rating {
	margin: 3px 0;
	text-align: right;
}
.product__slider-rate .rating li {
	display: inline-block;
}
.product__slider-rate .rating li i {
	margin-right: 1px;
	font-size: 20px;
	color: #354777
}
.product__slider-name {
	margin-bottom: 2px;
	color: #354777;
}
.product__slider-create {

}
.product__single-reviews-slider-bottom {
	margin-top: 5px;
}
.product__single-reviews-slider-bottom p strong {
	display: block;
}
.product__single-add-reviews {
	display: block;
  width: 100%;
  padding: 7px 0;
  color: #FFF;
  background: #354777;
  text-align: center;
  border: 0;
  font-size: 15px;
}

/* properties  */
.product__single-prop {

}
.product__single-prop-title {
	font-weight: bold;
  color: #222;
  font-size: 16px;
}
.product__single-prop-main,
.product__single-prop-add {
	padding-bottom: 15px;
	border-top: 1px solid #ddd;
}
.product__single-prop-ititle {
  font-size: 14px;
}
.product__single-prop-table {
	width: 100%;
}
.product__single-prop-table td{
	width: 50%;
	padding: 2px 0;
}
.product__single-prop-td-1 {
	color: #A9A9A9 !important
}
.product__single-prop-td-2 {

}



/* 
*
*** MENU ***
*
*/
.menu__content {
	color: #FFF;
	background: #6f4f75; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmNGY3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTdkOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #6f4f75 0%, #757d9d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f4f75), color-stop(100%,#757d9d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6f4f75 0%,#757d9d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6f4f75 0%,#757d9d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6f4f75 0%,#757d9d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6f4f75 0%,#757d9d 100%); /* W3C */
}

.menu__content .item-content,
.menu__content .item,
.menu__content .item-content:active {
	color: #FFF;
	background: transparent;
}
.menu__content .item:active{
	background: rgba(255, 255, 255, 0.25);
}
.menu__content .item-content {
	padding: 15px 30px;
} 


/*all*/
.menu__avatar {
	width: 100px;
  height: 100px;
  margin: 20px auto 20px;
  border-radius: 100px;
  display: block;
}
/*no login*/
.menu__nologin-wrap {
	margin-bottom: 30px;
	text-decoration: none;
}
.menu__nologin-avatar {
  background: #EDEDED;
  border: 1px solid #DDDDDD;
}
.menu__nologin-url {
	display: block;
	color: #FFF;
  font-size: 20px;
  text-align: center;
  margin: 0 0 30px 0;
}

/*login*/
.menu__login-wrap {
	margin-bottom: 30px;
}
.menu__login-wrap-link {
	text-decoration: none;
}
.menu__login-name,
.menu__logout {
	font-size: 20px;
	color: #FFF !important;
	display: block;
	text-align: center;
}
.menu__logout {
	font-size: 14px;
	margin-top: 10px;
}



/* 
*
*** MODAL LOGIN ***
*
*/
.modal {
	position: absolute;
	top: 0;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

@media (min-width: 680px) {
	.modal {
		top: 20%;
		right: 20%;
		bottom: 20%;
		left: 20%;
		overflow: visible;
		min-height: 240px;
		width: 60%;
	}
}

.modal .button.button-block {
	background: #C80020;
	border: 1px solid #C80020;
}
.login__error {
	text-align: center;
  margin: 10px 0;
  font-size: 16px;
  color: #C80020
}